
<!-- Card Template -->
<div class="col-lg-4 col-md-12 mb-4">
<div class="card" style="width: 18rem;">
  <img src="{{.ImageSrc}}" class="card-img-top" alt="{{.ImageAlt}}">
  
  <div class="card-body">
    <h5 class="card-title">{{.Title}}</h5>
    <p class="card-text">{{.Text}}</p>
    <a href="{{.ButtonURL}}" class="btn btn-primary">{{.ButtonText}}</a>
  </div>
</div>
</div>
<!-- Card Template -->